body {
  background-color: #EEE2DC;
  font-family: Georgia, serif; }

h3, p {
  color: #123C69; }

a {
  color: #123C69; }
  a:hover {
    color: #AC3B61; }

.container {
  position: relative;
  top: 50px;
  left: 50px; }
